parameters:

    level: 9

    paths:
        - src/

    ignoreErrors:
        - '#^Property Strictus\\Types\\StrictusUnion::\$instances \(array<string, class-string>\|null\) does not accept array<string, string\>.$#'
